In [38]:
#Question 1
name=input("Enter the name : ")
roll=input("Enter the roll number : ")
mark=input("Enter the mark : ")
print("Name :",name)
print("Roll no : ",roll)
print("Mark : ",mark)

Enter the name : haya
Enter the roll number : 1
Enter the mark : 199
Name : haya
Roll no :  1
Mark :  199

In [ ]:
#Question 2
tempr=float (input("Temperature in Faranheit = "))
f=(tempr * 9/5) + 32  
print("Temperature in Celsius = " ,f)

Temperature in Faranheit = 12
Temperature in Celsius =  53.6

In [ ]:
#Question 3
num1=input("Enter First number : ")
num2=input("Enter Second number : ")
mult = float (num1)* float(num2)
print("product of  {} and {} is {}".format(num1,num2,mult))

Enter First number : 1
Enter Second number : 2
product of  1 and 2 is 2.0

In [ ]:
#Question 4
print("Learn Python by Developing a Website")
print('Learn'+'**'"Python**by Developing a**Website**")

Learn Python by Developing a Website
Learn**Python**by Developing a**Website**

In [ ]:
#Question 5
import math as M  
Radius = float (input (" Enter the radius of the given circle: "))  
area = M.pi* Radius * Radius  
print (" Area of the  circle is: ", area)

 Enter the radius of the given circle: 2
 The area of the  circle is:  12.566370614359172

In [ ]:
#Question 6
lst = [100, 200, 300, 400, 500]
print(lst)
print("List =",lst)
newnum=int( input("Enter the number to be inserted  "))
position=int (input("Enter the position  "))
lst.insert(position, newnum)
print(lst)

[100, 200, 300, 400, 500]
List = [100, 200, 300, 400, 500]
Enter the number to be inserted  1
Enter the position  3
[100, 200, 300, 1, 400, 500]

In [ ]:
#Question 7
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict['Location'] = sample_dict['city']
print(sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'Location': 'New York'}

In [41]:
#Question 8
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
print(sample_dict)
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [60]:
#Question 9
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2 = tuple1[2:4]
print("New Tuple is :" ,tuple2)

New Tuple is : (43, 54)

In [47]:
#Question 10
tuple1= (50, 10, 60, 70, 50,83,567,50,81)
count = tuple1.count(50)
print("The number of occurrences of item 50 in tuple :",count)

The number of occurrences of item 50 in tuple : 3